@import "src/global.scss";

.about-container {
    padding-top: 10%;
    @media (max-width: $mobile-breakpoint) {
        padding-top: 20%;
    }
    padding-left: 5%;
    padding-right: 5%;
}

.about-content {
    font-family: $font-stack;
    margin: 5%;
}
.title {
    font-size: 6vw;
    color: $font-color;
    display: flex;
    margin-bottom: 0.3em;
    .greeting {
        font-weight: bold;
    }
    @media (max-width: $mobile-breakpoint) {
        font-size: 12vw;
    }
}
.bio {
    color: $font-color;
    line-height: 1.6em;
    font-size: 1em;
}
.profile-pic {
    border-radius: 20%;
    max-width: 20em;
    height: 20em;
}

  //itype
.ityped-cursor {
    opacity: 0.5;
}