@import "src/global.scss";

$font-size: 1em;

.navbar {
    padding: 2% 5% 2% 5%;
    position: fixed;
    overflow: hidden;
    background-color: $base-color;
    font-family: $font-stack;
    top: 0;
    .navbar-title-link {
        margin-left: 1em;
        text-decoration: none;
        color: $font-color;
        font-weight: bold;
    }
}
