$base-color: #1E1E1E;
$second-base-color: #383838;
$cbpk-blue: #36C7D0;
$cbpk-purple: #7E8CE0;
$cbpk-pink: #FF99C8;
$font-color: white;

$font-stack: worksans-semibold,'work sans',sans-serif;


body{
  background-color: $base-color;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.welcome-content {
  // font-family: $font-stack;
  display: block;
  margin-left: 2%;
  margin-right: 15%;
  .title {
    font-size:6vw;
    color: $font-color;
    display: block;
    margin-bottom: 0.3em;
    font-weight: bold;
  }
  .bio {
    color: $font-color;
    line-height: 1.6em;
    font-size: 16px;
  }
  .menu {
    display: block;
  }
  
  a.button {
    display:inline-block;
    padding:0.5em 1.2em;
    margin-right: 1em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    color:$base-color;
    font-weight: bold;
    text-align:center;
    transition: all 0.2s;
  }
  
  a.button:hover {
    opacity: 0.7;
  }
}

.profile-pic {
  border-radius: 50%;
  max-width:100%;
  height: 30em;
  margin-left: 15%;
  margin-right: 2%;
}

.blue-background{
  background-color: $cbpk-blue;
}
.purple-background {
  background-color: $cbpk-purple;
}
.pink-background {
  background-color: $cbpk-pink;
}

.blue {
  color: $cbpk-blue;
}
.purple {
  color: $cbpk-purple;
}
.pink {
  color: $cbpk-pink;
}